.PostCategoriesNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.PostCategoriesNav  * {
  margin-left: 0rem;
}

.PostCategoriesNav input[type='text'] {
  right: 0;
  position: absolute;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
}

.PostCategoriesNav input[type='text']:focus {
  outline: none;
}

.PostCategoriesNav input[type='text']::placeholder {
  color: black;
}

@media (max-width: 600px) {
  .PostCategoriesNav input[type='text'] {
    position: relative;
    width: 80%;
    margin-left: -0.5rem;
    margin-top: 2rem;
  }
  .PostCategoriesNav  * {
    margin-left: 0rem;
   }
}

.NavLinky {
  padding: 0.4rem 1.3rem;
  margin-right: 10px ;
  display: block;
  font-weight: 500;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: #2da5a1;
  background-color: var(--lightGrey);
  text-decoration: none;
  border-radius: 20px;
}

.NavLinky:hover,
.NavLinky.active,
.NavLinky:focus {
  background-color: var(--lightGrey);
  color: var(--primary);
}
/* iPhone X, 11 / 11pro etc.  turn out to be my phone too*/
@media (min-width:370px) and (max-width: 384px) {
  .NavLinky {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

   .NavLinky {
    font-size: 1.7rem;
    margin-top: 14px;
    border-radius: 26px;
    margin-left: -0.2rem;
  }

}

/* Big Flagships */
@media (min-width:385px) and (max-width: 600px) {
  .NavLinky {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

   .NavLinky {
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 26px;
    margin-left: -0.2rem;
  }

}

/* small phones */
@media (min-width:300px) and (max-width: 345px) {
  .NavLinky {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

   .NavLinky {
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 26px;
    margin-left: 0rem;
  }

}

/* 16:9 Phones */

@media (min-width:360px) and (max-width: 370px) {
  .NavLinky {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

   .NavLinky {
    font-size: 1.5rem;
    margin-top: 1.2rem;
    border-radius: 26px;
    margin-left: -0.3rem;
  }

}





